<div class="auth-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label>{{ 'USERNAME' | translate }}</label>
    <input formControlName="username" />

    <label>{{ 'PASSWORD' | translate }}</label>
    <input
      formControlName="password"
      [type]="passwordVisible ? 'text' : 'password'"
    />

    <div class="show-password-container">
      <label>{{ 'SHOW_PASSWORD' | translate }}</label>
      <input type="checkbox" formControlName="showPassword" />
    </div>

    <button type="submit">{{ 'LOGIN' | translate }}</button>
    <a routerLink="/register">{{ 'SWITCH_TO_REGISTER' | translate }}</a>

    <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
  </form>
</div>
