<div *ngIf="!drawingReady && visible" class="zone-overlay">
  <div class="zone-form">
    <label>
      <span>{{ 'TEXT_26' | translate }}</span>
      <input type="text" [(ngModel)]="zoneName" />
    </label>

    <label>
      <span>{{ 'TEXT_27' | translate }}</span>
      <select [(ngModel)]="zoneType">
        <option value="ALLY">{{ 'TEXT_28' | translate }}</option>
        <option value="ENEMY">{{ 'TEXT_29' | translate }}</option>
        <option value="NEUTRAL">{{ 'TEXT_30' | translate }}</option>
      </select>
    </label>

    <div class="zone-buttons">
      <button class="confirm-btn" (click)="zoneToEdit ? saveNewZoneDetails() : startDrawing() ">   {{ zoneToEdit ? 'Оновити зону' : 'Нанести на карту' }}</button>
      <button class="cancel-btn" (click)="cancelZoneCreation()">{{ 'TEXT_31' | translate }}</button>
    </div>
  </div>
</div>

