<div class="popup-container">
  <b>{{ marker.name }}</b><br>
  Тип: {{ marker.type }}<br>
  Командир: {{ marker.commander }}<br>
  Ос. склад: {{ marker.estimatedPersonnel }}<br>
  Опис: {{ marker.description }}<br><br>
  Статус: {{ marker.positionStatus}}<br><br>

  <div class="popup-actions">
    <button class="edit-btn" (click)="edit()">{{ 'TEXT_35' | translate }}</button>
    <button class="coords-btn" (click)="changeCoords()">{{ 'TEXT_36' | translate }}</button>
    <button class="delete-btn" (click)="delete()">{{ 'TEXT_37' | translate }}</button>
  </div>
</div>

