<div class="map-container">
  <div id="map"></div>

  <!-- Кнопка додавання позиції всередині карти -->
  <button class="btn-open-modal" [disabled]="buttonsAreDisabled()" (click)="onAddPositionClick()">{{ 'TEXT_32' | translate }}</button>
  <button class="btn-open-modal" [disabled]="buttonsAreDisabled()" (click)="isZoneCreationMode=true">{{ 'TEXT_33' | translate }}</button>

  <!-- Підказка під час вибору точки -->
  <div class="selecting-overlay" *ngIf="isSelectingPosition">
    <div class="selecting-message">
      Виберіть точку на карті або скасуйте
      <button class="btn-cancel-select" (click)="cancelSelecting()">{{ 'TEXT_34' | translate }}</button>
    </div>
  </div>

  <!-- Модальне вікно -->
  <app-map-position-modal
    [visible]="isModalVisible"
    [coordinates]="selectedCoordinates"
    [marker]="markerToEdit"
    (onCancel)="closeModal()"
    (onSave)="onMarkerSaved()"
    *ngIf="isModalVisible">
  </app-map-position-modal>

  <app-map-zone [map]="map"
                [markerCreating]="isSelectingPosition || isZoneCreationMode"
  [visible]="isZoneCreationMode"
   (isCreationMode)="isZoneCreationMode=false"></app-map-zone>
</div>
