<!-- Таблиця користувачів -->
<div *ngIf="!loading" class="user-table-container">
  <div class="nav-button-container">
    <button (click)="navigateToRanksAndUnits()">{{ 'TEXT_4' | translate }}</button>
  </div>
  <table class="user-table">
    <thead>
    <tr>
      <th>{{ 'USERNAME' | translate }}</th>
      <th>{{ 'EMAIL' | translate }}</th>
      <th>{{ 'ROLE' | translate }}</th>
      <th>{{ 'STATUS' | translate }}</th>
      <th>{{ 'ACTIONS' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.status }}</td>
      <td>
        <button [disabled]="user.status !== 'PENDING'" (click)="approveUser(user.id)">{{ 'APPROVE' | translate }}</button>
        <button [disabled]="user.role === 'ADMIN' && !isCurrentUser(user)" (click)="editUser(user)">{{ 'EDIT' | translate }}</button>
        <button [disabled]="user.role === 'ADMIN'" (click)="deleteUser(user.id)">{{ 'DELETE' | translate }}</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="loading" class="loading-message">
  Loading users...
</div>
<div class="military-overlay" *ngIf="editMode">
  <div class="profile-modal">
    <app-profile class="wider-profile" *ngIf="editMode"
                 [userId]="userId"
                 (onCancel)="cancelEdit()"></app-profile>

  </div>
</div>
<app-user-settings *ngIf="userSettingsVisible"
                   (close)="userSettingsVisible = false"
>
</app-user-settings>
